<h5>Chart</h5>
<style>
    circle{
        transition:2s transform ease-out;
    }
</style>

<svg style="width:100%; height:100px">

    <rect ng-attr-x="{{(1 + $index) * 50}}" ng-attr-y="{{(100 - p.value)}}" width="2" ng-attr-height="{{(p.value)}}" ng-repeat="p in data track by p.id"></rect>

    <circle ng-attr-cx="{{(1 + $index) * 50}}" data-id="{{p.id}}"
    ng-style="{ transform: 'translate(0px,' + (100 - p.value) +'px)' }"
    r="5" ng-repeat="p in data track by p.id"></circle>


</svg>