<div ng-controller="incomeForm">
    <style>
    input.ng-invalid.ng-touched, select.ng-invalid.ng-touched,
    input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty {
        border: 2px solid red !important;
    }
    </style>

<form name="formRef" novalidate
    record-drop="reset($event)"
    record-drop-class="drop-zone"
    ng-submit="save()">
    <h3>Form</h3>

    <div class="form-group">
        <label for="">Company</label>
        <input type="text" ng-model="data.company" name="company"
            minlength="3" required class="form-control">

    <div ng-if="formRef.company.$touched || formRef.company.$dirty">
            <div class="form-text" ng-if="formRef.company.$error.required">
                Field is required
            </div>
            <div class="form-text" ng-if="formRef.company.$error.minlength">
                Value too short
            </div>
    </div>

<!--     
    pristine: {{formRef.company.$pristine}} .<br>
    untouched: {{formRef.company.$untouched}} .<br>
    <br>
    dirty: {{formRef.company.$dirty}} .<br>
    touched: {{formRef.company.$touched}} .<br> -->

    </div>

    <div class="form-group">
        <label>Kategoria</label>
        <select class="form-control" ng-model="data.category">
                <option></option>
                <option>Nowy</option>
            <option>VIP</option>
        </select>
    </div>

    <div class="form-group">
        <label for="income">Przychody</label>
        <div class="input-group">
            <input id="income" type="number" class="form-control" ng-model="data.income">
            <div class="input-group-addon">$</div>
        </div>
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="show_extra">Extra</button>
    </div>
    <div class="form-group" ng-if="show_extra">
        <label>Extra field</label>
        <input class="form-control" ng-model="data.extra">
    </div>

    <button class="btn btn-success float-right" type="submit">{{ data.id? 'Save' : 'Add' }}</button>
    <button class="btn btn-danger float-right" ng-click="reset()">Cancel</button>

    </form>

</div>