// https://www.sassmeister.com/

.search{

    &__input{
        color: pink;   
    }

    &__button{
        border: 1px solid red;
    }

    &--has-results{
        background: yellow;
    }

    a{
        &:hover{
            color: blue;
        }
    }

    article &{
        box-shadow:none;
    }

    &%search-modifier .input {
        color: wheat;
    }
    
    &%search-modifier .button {
        color: wheat;
    }
}
// =====================

.modified{
    @extend %search-modifier;
    color: red;
}

