$mycolor: red;
$width: 1200px;
$columns: 8;
$columnWidth: $width / $columns;

@import 'search';

// @import '../node_modules/bootstrap/scss/variables'
// @import '../node_modules/bootstrap/scss/grid'

// Ala ma kota ;-)
h1{
    color: $mycolor;
    border: 1px solid darken($mycolor,30%);
}
